<footer class="bg-blue">
    <div>
        <div class="flex-space-btw">
            <div class="row-flex">
                <ul class="footer-flex">
                    <li><a href="{% url 'about' %}">About us</a></li>
                    <li><a href="{% url 'services' %}">Services</a></li>
                    <li><a href="{% url 'reference' %}">References</a></li>
                    <li><a href="{% url 'pricing' %}">Pricing</a></li>
                    <li><a href="{% url 'contact' %}">Contact Us</a></li>
                </ul>
            </div>
        </div>
        <div class="copy-flex">
            <div>&copy <a href="/">Web'still</a> All Rights Reserved.</div>
            <div>Designed by: <a href="/">Web'Still</a></div>
        </div>
    </div>
</footer>